{% extends "layout.twig" %}
{% block content %}
    <h1>Best gifs here</h1>
    <form method="get" action="/">
        <label for="search">
            <input id=search type="text" name="q" value="{{ query }}" placeholder="Tag....">
        </label>
        <button type="submit">Search</button>
    </form>
    <a href="/">Trending GIFs</a>
    <div class="gif">
        {% if gifs is empty %}
            <p>No results found.</p>
        {% else %}
            <ul>
                {% for gif in gifs %}
                    <h3>{{ gif.title }}</h3>
                    <li><img src="{{ gif.url }}" alt="{{ gif.title }}"></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <a href="/">Back to home</a>
{% endblock %}